<h3>About</h3>

<p>"First off, I want to personally thank you for visiting my site.
As stated above, I am Joe Grady. I am an aspiring Ruby on Rails developer.
I recently graduated the University of North Carolin of Asheville with a Bachelor's degree in Management.
During my Junior year of college I ran a business. During the marketing phase, some of my cold callers had trouble
finding new clients. That's when I decided to 'attempt' making a website. This site didn't turn out too well, but
it got me hooked on learning the ways of the web and grabing any material I could get my hands on to learn more about
web development in general."
<br>

<p>Mid way though my second to last semester, I applied and was accepted to a programming bootcamp called <a href="http://www.launchacademy.com">Launch Academy</a> located in Boston, Ma.
This 10 week bootcamp was a Ruby on Rails full stack based camp. As shown in the image below, this program covered many topics, but the primary focus groups were on
Ruby, Sinatra, PostgreSQL, ActiveRecord, Git, Object Oriented programming, group projects, solo projects, and presentions to potential hiring partners. The experience that Launch Academy
provided was a great learning accelerator and taught me a lot of valuable development skills.
#insert timeline photoshop pic
</p>
