<h3>Contact</h3>

<p>If you would like to learn more about me
or just talk about some code, please call or email me!</p>

<ul>
 <li>Cell: (910) 695-5319</li>
 <li>Email: Joegrady1@gmail.com</li>
</ul>

<p>Or if you want to find me on social media, feel free to click the icon below!</p>
  <a href="">Facebook icon </a>
  <a href="">Linkedin icon </a>
  <a href="">Twitter icon </a>
