<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Joe Grady</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div id='header'>
      <nav>
        <ul>
          <li><a href="#{url '/aboutme'}">About Me</a></li>
          <li><a href="#{url '/portfolio'}">Portfolio</a></li>
          <li><a href="#{url '/contact'}">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div id= 'main'>
      <%= yield %>
    </div>
  </body>
</html>

