<h3>Portfolio</h3>

<p> Built this web application using Ruby and the Rails framework. This app includes triple nested
JQuery forms that self populate a workout database. While using Devise to organize users, it also implements
the usage of OmniAuth so that users can connect with friends via Facebook to share workouts and stats. </p>

<a href="fitfriend.herokuapp.com">Fitfriend </a>
#insert pic of fitfriend homepage
#float pic right

<p> Within a 4 person team, I helped develop a Pokemon rails application that allows users to
vote and post reviews on characters. We implemented CarrierWave to allow the usage of profile photos
for users, an API to seed our database, and Action Mailer to send email notifications. This project
was done through the process of strict test driven development with RSpec. </p>

<a href="charbrawls.herokuapp.com">Charbrawls</a>
#insert pic of charbrawls homepage
#float pic right
